<ion-view title="Challenges">
  <ion-nav-bar class="nav-title-slide-ios7">
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-plus-round" ng-click="openModal()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-footer">
    <ion-refresher pulling-text="Pull to get new challenges" on-refresh="getChallenges()">
    </ion-refresher>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search" ng-model="search.name">
    </label>
    <div class="list">
      <ion-item ng-repeat="challenge in challenges | filter:search:strict" ng-click="goToChallenge(challenge.challengeId)">
        <div>{{challenge.name}}</div>
        <div class="ion-item-summary">{{challenge.description}}</div>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
