<div>
  <div class="item item-button-right">
    <div class="exercise-name">{{exercise.name}}</div>
    <div class="exercise-details">
      <div>Sets: {{exercise.sets.length}}</div>
      <div>Reps: {{exercise.reps}}</div>
    </div>
    <span ng-class="{'badge-gray':!exercise.complete, 'badge-energized':exercise.complete, 'badge challenge-badge':true}"><i class="icon ion-trophy"> {{exercise.points}} per set</i></span>
    <div class="buttons challenge-exercise-buttons">
      <button ng-class="{'button-outline': !this.set.completed, 'button button-balanced ion-checkmark':true}" ng-repeat="set in exercise.sets" ng-click="complete()">
         <i type="checkbox"></i>
      </button>
    </div>
  </div>
</div>