<ion-view title="Level">
  <ion-content has-header="true" padding="true">
    <div class="list list-inset">
      <img class="logo" src="img/level.png">
      <button class="button button-block button-light" ng-click="basicLogin()">
        <b>L</b> Level Login
      </button>
      <button class="button button-block button-light" ng-click="createAccount()">
        <b>L</b> Create a new account
      </button>
      <button class="button button-block button-light" ng-click="facebookLogin()">
        <i class="icon ion-social-facebook"></i>
         Login with Facebook
      </button>
      <button class="button button-block button-light" ng-click="twitterLogin()">
        <i class="icon ion-social-twitter"></i>
         Login with Twitter
      </button>
      <button class="button button-block button-light" ng-click="skipLogin()">
        <i class="icon"></i>
        Skip Login (testing only)
      </button>
    </div>
  </ion-content>
</ion-view>