<div>
  <div class="item item-avatar">
    <img src="{{activity.userImg}}" ng-click="goToProfile(activity.userId)">
    <div>
      <div ng-click="goToProfile(activity.userId)">
        <div class="user-name">
          First Last
          <span class="screen-name">{{activity.screenName}}</span>
        </div>
        <div class="right activity-post-time">{{convertTime(activity.postTime)}}</div>
      </div>
      <p class="activity-text" ng-show="{{!!activity.challengeId}}  && {{!!activity.text}}">
        {{activity.text}} from the <span class="activity-challenge" ng-click="goToChallenge(activity.challengeId)">{{activity.challengeName}}</span> Challenge
      </p>
      <p class="activity-text" ng-show="{{!!activity.challengeId}} && {{!activity.text}}">
        Started the challenge <span class="activity-challenge" ng-click="goToChallenge(activity.challengeId)">{{activity.challengeName}}</span>
      </p>
      <p class="activity-text" ng-show="{{!activity.challengeId}}">{{activity.text}}</p>
      <img class="right activity-picture" src="{{activity.picture}}" ng-show="{{!!activity.picture}}">
    </div>
    <div>
      <div class="buttons-right">
        <button class="button button-clear activity-button icon ion-ios7-chatbubble" ng-click="addComment()">
          <span ng-show="activity.comments.length">({{activity.comments.length}})</span>
        </button>
        <button ng-class="{'button button-clear activity-button icon ion-thumbsup':true, 'button-stable': !liked, 'button-positive': liked}" ng-click="like()">
          <span ng-show="activity.likes.length">({{activity.likes.length}})</span>
        </button>
        <button class="button button-clear activity-button icon ion-close-round" ng-click="deletePost()" ng-show="activity.userId === self.userId">
        </button>
      </div>
    </div>
  </div>
</div>