/* -------Global helpers-------- */
body {
  font-family: 'Helvetica Neue Condensed Bold';
}

.left {
  float:left;
}

.right {
  float:right;
}

.buttons-right {
  margin: -10px 5px -20px 5px;
  float:right;
}

.popup-open .backdrop {
  z-index: 11;
}

.item-narrow {
  padding: 0 10px;
}

.item-no-border {
  border:none;
}

.has-footer {
  bottom: 50px;
}

.has-search-header {
  top: 110px;
}

.badge-gray {
  background-color: #ADADAD;
  color: #fff;
}

.search-bar-header {
  margin-top: 64px;
  background-color: #f8f8f8;
}

.user-name {
  display: inline-block;
  max-width: 85%;
  text-decoration: none;
  color: black;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: auto;
}

.screen-name {
  color: #666;
  font-size: 12px;
}

.user-image-small {
  margin-right: 5px;
  height: 30px;
  width: 30px;
  border-radius: 5px;
}

/* -------Login-------- */
.logo {
  width: 100%;
}

/* -------Header-------- */
.bar-header {
  background-color: #f0b840;
}

.bar .title {
  color: white;
}

.bar .button.button-icon {
  color: white;
}

/* -------Tabs-------- */
.tab-item {
  opacity: 0.5;
}

.tab-item-active {
  opacity: 1;
  color: #f0b840;
}

/* -------Challenges-------- */
.challenge-name {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 500;
  max-width: 75%;
  text-overflow: ellipsis;
  overflow: auto;
}

.challenge-description {
  width: 100%;
  white-space: normal;
  font-size: 12px;
}

.challenge-badge {
  top: 15px!important;
  right: 15px!important;
}

/* -------One Challenge-------- */
.challenge-name-detailed {
  width: 70%;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 30px;
  white-space: normal;
}

.challenge-badge-detailed {
  background-color: #f0b840;
  color: #fff;
  display: flex;
  position: absolute;
  top: 20px!important;
  right: 10px!important;
}

.user-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.challenge-description-detailed {
  color: #666;
  white-space: normal;
}

.save-challenge-button {
  position: absolute;
  top: 8px;
  right: 65px
}

.progress-bar-container {
  width: 100%;
  padding-top: 5px;
  display: inline-block;
  text-align: center;
}

.progress-bar {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: 100%;
}

.progress-bar-start {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #f0b840;
  z-index: 1;
}

.progress-bar-middle {
  height: 12px;
  width: 85%;
  margin: auto -2px;
  background-color: #CFCFCF;
}

.progress-bar-progress {
  display: block;
  height: 100%;
  background-color: #f0b840;
}

.progress-bar-end {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #CFCFCF;
}

.one-exercise {
  height: 65px;
}

.exercise-name {
  font-size: 16px;
  font-weight: 900;
}

.challenge-exercise-badge {
  top: 20px!important;
  right: 75px!important;
}

.challenge-exercise-buttons {
  top: 15px!important;
}

/* -------Activties-------- */
.card-avatar {
  margin: 2px -7px 0 -7px;
}

.activity-post-time {
  display: inline-block;
  color: #666;
  font-size: 12px;
}

.activity-picture {
  max-height: 160px;
  max-width: 250px;
  border-radius: 5px;
}

.activity-picture-detailed {
  padding-bottom: 15px;
  max-height: 200px;
  max-width: 250px;
  border-radius: 5px;
  display: block;
  margin: auto;
}

.activity-text {
  white-space: normal!important;
}

.activity-text-detailed {
  padding-bottom: 15px;
  font-size: 22px;
  color: #666;
}

.activity-text-container {
  padding: 0 10px;
  min-height: 35px;
}

.activity-challenge {
  text-decoration: none;
  color: orange;
}

.comment-bar-footer {
  margin-bottom: 50px;
  background-color: #f8f8f8;
}

.has-comment-footer {
  bottom: 95px;
}

.delete-comment-button {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #f0b840;
  margin-top: -40px;
  margin-right: -20px;
  float: right;
}

/* -------Profile-------- */
.profile-body {
  padding-top: 0;
}

.stat-chart {
  display: inline-block;
  text-align: center;
}