/* -------Global helpers-------- */
.has-footer {
  bottom: 50px;
}

.left {
  float:left;
}

.right {
  float:right;
}

.buttons-right {
  margin: -10px 5px -20px 5px;
  float:right;
}

.popup-open .backdrop {
  z-index: 11;
}

.item-narrow {
  padding: 0 10px;
}

.item-no-border {
  border:none;
}

/* -------Login-------- */
.logo {
  width: 100%;
}

/* -------Header-------- */
.bar-header {
  background-color: #f0b840;
}

.bar .title {
  color: white;
}

.bar .button.button-icon {
  color: white;
}

/* -------Tabs-------- */
.tab-item {
  opacity: 0.5;
}

.tab-item-active {
  opacity: 1;
  color: #f0b840;
}

/* -------Challenges-------- */
.ion-item-summary {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
}

.challenge-image{
  max-height: 50px;
  max-width: 50px;
}

.challenge-progress {
  -webkit-appearance: none;
}

.challenge-progress::-webkit-progress-value {
  background-image:
   -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%),
   -webkit-linear-gradient(left, #EF4E3A, #66CC33);
  border-radius: 2px; 
  background-size: 35px 20px, 100% 100%, 100% 100%;
  -webkit-animation: animate-stripes 5s linear infinite;
}

/* used to animate the progress bar */
@-webkit-keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

.challenge-complete{
  min-height: 40px;
  background-color: #f5f5f5;
  color: #222;
  font-weight: bold;
}

.challenge-buttons {
  top: 30px!important;
}

.challenge-badge {
  top: 5px!important;
  right: 20px!important;
}

/* -------Activties-------- */
.card-avatar {
  margin: 2px -7px 0 -7px;
}

.activity-user {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 500;
  max-width: 55%;
  text-overflow: ellipsis;
  overflow: auto;
}

.activity-screen-name {
  display: inline-block;
  text-overflow: ellipsis;
  color: #666;
  max-width: 50%;
  font-size: 12px;
  overflow: auto;
}

.activity-post-time {
  display: inline-block;
  color: #666;
  font-size: 12px;
}

.activity-picture {
  max-height: 160px;
  max-width: 250px;
  border-radius: 5px;
}

.activity-picture-detailed {
  padding-bottom: 15px;
  max-height: 200px;
  max-width: 250px;
  border-radius: 5px;
  display: block;
  margin: auto;
}

.activity-text {
  white-space: normal!important;
}

.activity-text-detailed {
  padding-bottom: 15px;
  font-size: 22px;
  color: #666;
}

.activity-text-container {
  padding: 0 10px;
  min-height: 35px;
}

.activity-challenge {
  text-decoration: none;
  color: orange;
}

.comment-bar-footer {
  margin-bottom: 50px;
  background-color: #f8f8f8;
}

.has-comment-footer {
  bottom: 95px;
}

.delete-comment-button {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #f0b840;
  margin-top: -40px;
  margin-right: -20px;
  float: right;
}

/* -------Profile-------- */
.profile-body {
  padding-top: 0;
}

.stat-chart {
  display: inline-block;
  text-align: center;
}